@page "/concertdetails"
@model eKoncert.Pages.ConcertDetailsModel
@{
}

<title>Concert Details</title>


<div id="concert-details">
    <!-- Content will be dynamically loaded here -->
</div>

<script src="js/events_listing.js"></script>