@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section">
    <section>
        <div class="container">
            <h1 class="heading">The only site to buy tickets!</h1>
        </div>
    </section>
</div>

<div class="section">
    
    <div class="Slides">
        <img src="/images/slide1.jpg" alt="" class="slides_img">
    </div>
    <div class="Slides">
        <img src="/images/slide2.jpg" alt="" class="slides_img">
    </div>
    <div class="Slides">
        <img src="/images/slide3.jpg" alt="" class="slides_img">
    </div>
    <!-- Add more Slides elements -->
</div>


<div class="section">
    <div class="container">
        <div class="carrer-headline-wrap">
            <h2>Free to join</h2>
            <p class="paragraph-light">
                Purchase your tickets after registration<br />or look at our events now!
            </p>
        </div>
    </div>
</div>

<script src="/js/site.js"></script>